@import io.l8.jlog.domain.Record
@(count: Int, recent5: Seq[Record])
@layouts.html.default() {

<section>
  <p>You have @count journal log entries !!</p>
</section>

<section>
  <article>
    <form  >
      <input type="text" placeholder="Log something?">
      <input type="submit" value="Log"></input>
    </form>
  </article>
</section>



<section>
  <h2>Recent 5 log entries</h2>
  <article>
    <ul>
      @for(record <- recent5) { <li>@record.t | @record.log</li>
        }
    </ul>
  </article>
</section>

}